.day-small  {
    padding: 15px;
    margin: 5px;
    display: inline-block;
    border: 1px solid black;
}

.icon-wrap {
    font-size: 40px;
    display: inline-block;
    font-family: 'weathericons';
    font-style: normal;
    font-weight: normal;
    line-height: 1;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    float: left;
    margin-right: 15px;
    margin-bottom: 15px;
    min-width: 54px;
    text-align: center;
    color: #924da3;
}