/******DaySmall******/
.day-small  {
    background: white;
    padding: 10px;
    margin-right: 2px;
    display: inline-block;
    border: 1px solid #ccc;
    border-bottom: none;
    border-top-left-radius: 7px;
    border-top-right-radius: 7px;
    color: #444;
    cursor: pointer;
    position: relative;
    z-index: 1;
}

.day-small-active {
    /*background: #cccccc;*/
    background: white;
    z-index: 10;
}

.day-small-active .date-panel .number {
    font-size: 35px;
}

.day-small .icon--small {
    min-width: 25px;
    padding: 7px;
    margin-top: 15px;
    font-size: 40px;
}

.day-small .temp {
    color: #444;
}
/****DaySmall END*****/

/*icon*/
.icon {
    display: inline-block;
    font-family: 'weathericons';
    font-style: normal;
    font-weight: normal;
    line-height: 1;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    text-align: center;
    color: #924da3;
}
/*icon*/

.date-panel .number {
    font-size: 30px;
    color: #666;
}

.date-panel .day-name {
    font-size: 18px;
}

.date-panel .month-name {
    border-bottom: 1px dashed;
}

/*******DayBig*******/
.day-small-wrapper {
    /*outline: 1px solid red;*/
    margin-bottom: -6px;
}
.day-big-wrapper {
    /*outline: 1px solid red;*/
}

.day-big {
    width: 900px;
    padding: 15px;
    margin: 0;
    border: 1px solid #ccc;
    border-radius: 7px;
    border-top-left-radius: 0;
    color: #444;
    background: white;
    position: relative;
    z-index: 2;
}

.day-big .table-whether {

}

.day-big .table-whether .row-description {
    color: #666666;
    border: none;
}

.day-big .table-whether .row-hours {
    border: none;
}

label {
    font-weight: 300;
}

/*******DayBig END*******/