<div>
    <h3>Whether Prediction</h3>
    <h2>selected day: {{$ctrl.selectedDay}}</h2>

    <div class="row">
        <div class="col-xs-6">
            <cities-input selected-city="$ctrl.selectedCity"></cities-input>
        </div>
    </div>

    <div class="row">
        <div class="col-xs-12">
            <day-small
                ng-repeat="(day, dayPrediction) in $ctrl.daysPrediction"
                day-prediction="dayPrediction"
                ng-init="$ctrl.selectedDay ? null : $ctrl.setDay(day)"
                ng-click="$ctrl.setDay(day)">
            </day-small>

            <day-big
                ng-repeat="(day, dayPrediction) in $ctrl.daysPrediction"
                day-prediction="dayPrediction"
                ng-show="$ctrl.selectedDay == day"
                >
            </day-big>
        </div>
    </div>

</div>