<div>
    <h3>Whether Prediction</h3>

    <div class="row">
        <div class="col-xs-6">
            <cities-input selected-city="$ctrl.selectedCity"></cities-input>
        </div>
    </div>

    <div class="row">
        <div class="col-xs-12">
            <day-small
                ng-repeat="(day, dayPrediction) in $ctrl.daysPrediction"
                day-prediction="dayPrediction">
            </day-small>

            <day-big
                ng-repeat="(day, dayPrediction) in $ctrl.daysPrediction"
                day-prediction="dayPrediction">
            </day-big>
        </div>
    </div>




</div>