<div class="day-big">
    <div class="row">
        <div class="col-xs-2">
            <date-block
                    day-name="$ctrl.dayName"
                    number="$ctrl.number"
                    month-name="$ctrl.monthName">
            </date-block>

            <div class="row">
                <div class="col-xs-12">
                    {{$ctrl.description}}
                </div>
            </div>
        </div>
        <div class="col-xs-10">
            <table class="table table-whether">
                <tbody>
                    <tr ng-repeat="(key, row) in $ctrl.table">
                        <td class="pull-right row-description">{{key}}</td>
                        <td
                            ng-if="['hours', 'pressure', 'humidity'].indexOf(key) > -1"
                            ng-repeat="col in row track by $index"
                            class="row-{{key}}"
                            >
                            {{col}}
                        </td>
                        <td ng-if="key === 'temperature'" ng-repeat="col in row track by $index">
                            <temperature data="col"></temperature>
                        </td>
                        <td ng-if="key === 'whether'" ng-repeat="col in row track by $index">
                            <whether-icon icon-id = "col"></whether-icon>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>